.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*/*.aux
ausarbeitung-blx.bib
ausarbeitung.aux
ausarbeitung.bbl
ausarbeitung.bcf
ausarbeitung.blg
ausarbeitung.lof
ausarbeitung.log
ausarbeitung.lot
ausarbeitung.out
ausarbeitung.run.xml
ausarbeitung.synctex.gz
ausarbeitung.toc
content/abstract.aux
content/anhang_a.aux
content/kapitel_1_ausarbeitung.aux
content/kapitel_2.aux
content/kapitel_3.aux
content/kapitel_4.aux
misc/config.aux
misc/cover_ausarbeitung.aux
misc/eidesstattliche_erklaerung.aux
misc/personal_ausarbeitung.aux
