.DS_Store
*/*.aux
ausarbeitung/*.bbl
ausarbeitung/*.bcf
ausarbeitung/*.blg
ausarbeitung/*.lof
ausarbeitung/*.log
ausarbeitung/*.lot
ausarbeitung/*.out
ausarbeitung/*.run.xml
ausarbeitung/*.synctex.gz
ausarbeitung/*.toc
ausarbeitung/*.aux
ausarbeitung/ausarbeitung-blx.bib
ausarbeitung/ausarbeitung.aux
ausarbeitung/ausarbeitung.bbl
ausarbeitung/ausarbeitung.bcf
ausarbeitung/ausarbeitung.blg
ausarbeitung/ausarbeitung.lof
ausarbeitung/ausarbeitung.log
ausarbeitung/ausarbeitung.lot
ausarbeitung/ausarbeitung.out
ausarbeitung/ausarbeitung.run.xml
ausarbeitung/ausarbeitung.synctex.gz
ausarbeitung/ausarbeitung.toc
ausarbeitung/content/*.aux
ausarbeitung/content/abstract.aux
ausarbeitung/content/anhang_a.aux
ausarbeitung/content/kapitel_1_ausarbeitung.aux
ausarbeitung/content/kapitel_2.aux
ausarbeitung/content/kapitel_3.aux
ausarbeitung/content/kapitel_4.aux
ausarbeitung/misc/config.aux
ausarbeitung/misc/cover_ausarbeitung.aux
ausarbeitung/misc/eidesstattliche_erklaerung.aux
ausarbeitung/misc/personal_ausarbeitung.aux
